.textarea-noedit{
    background-color: #e9ecef;
    opacity: 1;
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    min-height: 3em;
}
.desctext{
    min-height: 5em;
}
.container{
    max-width: none;
    padding-left: 5%;
    padding-right: 5%;
}
.h1, h1 {
    font-size: 1.8rem;
}
.lead {
    margin-bottom: 0;
}