<!DOCTYPE html>
<html lang="en">

<head>
    <title>Descriptions - PALP Workspace</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <div class="container">
        <div class="header">
            <h1> PALP Workspace </h1>
            <form action="/search" method="POST">
                <label>Working on: </label>
                <label for="region"> Region </label>
                <input name="region" id="region" type="number" min=1 max=9 style="width:2.5em;" value= {{ region }} >
                <label for="insula">, Insula </label>
                <input name="insula" id="insula" style="width:2.5em;" value= {{ insula }} >
                <label for="property">, Property</label>
                <input name="property" id="property" style="width:2.5em;" value= {{ property }} >
                <label for="room">, Room</label>
                <input name="room" id="room" style="width:2.5em;" value= {{ room }} >
                <input type="submit" class="btn btn-outline-primary btn-sm" value="Search">
            </form>
            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/PPP">PPP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/PPM">PPM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/PinP">Pompeii in Pictures</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/data">Saved Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Descriptions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/GIS">GIS Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/help">Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Change ARC</a>
                    </li>
                </ul>
            </nav>
        </div>
<!--         <div class="row">
            <p> Go to your workspace on Google Sheets and copy the sharable URL. Paste it here then press "Submit".</p>
            <label for="inputDescURL" class="sr-only">Google Sheet URL</label>
            <input type="url" name="inputDescURL" id="inputDescURL" size="50" placeholder="Google Sheet URL" />
            <button onclick="loadIframe()" class="button">Submit </button>
        </div> -->
        <div class="row">
            <div class="col-3" style="word-wrap: break-word;">
                <p> Caution: Descriptions are editable. See <a href="/help"> help page. </a></p>
                <div class="accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> PPP </button>
                            </h2>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                <textarea class="form-control desctext">{{ carryoverPPP }}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> PPM </button>
                            </h2>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                <textarea class="form-control desctext">{{ carryoverPPM }}</textarea>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> Image(s) used: PinP </button>
                            </h2>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                <textarea class="form-control desctext">{{ carryoverPinP }}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
<!--                 <p><strong>PPP </strong><br/>
                <textarea class="form-control">{{ carryoverPPP }}</textarea> <br/>
                <strong> PPM </strong> <br/>
                <textarea class="form-control">{{ carryoverPPM }}</textarea><br/>
                <strong> Image(s) used: PPM </strong> <br/>
                <textarea class="form-control">{{ carryoverPPMImgs }}</textarea> <br/>
                <strong> Image(s) used: PinP </strong> <br/>
                <textarea class="form-control">{{ carryoverPinP }}</textarea> <br/> -->
                <br/>
                <a href="/cleardata" class="btn btn-outline-primary" style="text-align: center;">Done! <br/> Clear Data and Change ARC</a>
                </p>
            </div>
            <div class="col">
                <iframe id="iFrameDesc" width="100%" height="600" src={{ gdoc }}></iframe>
            </div>
        </div>
    </div>
<!--     <script type="text/javascript">
        function loadIframe() {
            document.getElementById("iFrameDesc").src = document.getElementById('inputDescURL').value;
        }
    </script> -->
</body>

</html>