
<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Help - PALP Workspace</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <h1> PALP Workspace </h1>
            <form action="/search" method="POST">
                <label>Working on: </label>
                <label for="region"> Region </label>
                <input name="region" id="region" type="number" min=1 max=9 style="width:2.5em;" value= {{ region }} >
                <label for="insula">, Insula </label>
                <input name="insula" id="insula" style="width:2.5em;" value= {{ insula }} >
                <label for="property">, Property</label>
                <input name="property" id="property" style="width:2.5em;" value= {{ property }} >
                <label for="room">, Room</label>
                <input name="room" id="room" style="width:2.5em;" value= {{ room }} >
                <input type="submit" class="btn btn-outline-primary btn-sm" value="Search">
            </form>
            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/PPP">PPP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/PPM">PPM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/PinP">Pompeii in Pictures</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/data">Saved Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/descriptions">Descriptions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/GIS">GIS Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/help">Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Change ARC</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row">
            <p> If you aren't finding any results in PPM or PPP, <a href="mailto:epoehler@umass.edu?Subject=PALP%20Workspace%20Issue">send an email to Eric</a> with the ARC and region/insula/property/room you are looking for. </p>
        </div>
        <div class="row">
            <p> <strong> Documentation </strong></p><br/>
            <ul>
                <li> <a href="https://github.com/alexroseb/PALP-Workspace"> GitHub </a> </li>
                <li> <a href=""> User Documentation </a></li>
                <li> <a href="/static/docs.html"> Technical Documentation </a></li>
            </ul>
        </div>
        <div class="row">
            <p> <strong> PPP </strong></p><br/>
            <ul>
                <li> <a href="https://drive.google.com/drive/folders/1emVMdHMKAcyoNSImRkjK1XiXMfDvDurJ"> Files </a></li>
                <li> <a href="https://drive.google.com/file/d/1rOQxrAngrtUEbs7NzRvqVihdBkpbPlBV/view"> PPP Entry Data Mapping </a> </li>
                <li> <a href= "https://docs.google.com/document/d/1aOEtRW4TR534kb9Q_38_JWZtDXLgeH_OfCbVI5jvVM0/edit?usp=sharing">Instructions </a></li>
                <li> <a href="https://drive.google.com/file/d/1Ji0DDfX2y39gZ9qyuH6yX1mA5chh4Gme/view"> Tutorial Video </a></li>
            </ul>
        </div>
        <div class="row">
            <p> <strong> PPM </strong></p><br/>
            <ul>
                <li> <a href="https://drive.google.com/open?id=1YCRNjaLgLXLsL0AabLJwfIlZxvLGUbKB"> PPM Data Entry Mapping </a></li>
                <li> <a href="https://en.wikipedia.org/wiki/Domus"> Basic Plan of the Roman House </a></li>
                <li> <a href="https://docs.google.com/document/d/1WEGFUk6pM5TeX_IAIXw9ogWnDSUqqmuJdGpFWzegAJ4/edit"> Terms and Translations </a> </li>
            </ul>
        </div>
        <div class="row">
            <p> <strong> Description </strong></p><br/>
            <ul>
                <li> <a href="https://youtu.be/7MwmKWLlfk0"> Tutorial Video </a></li>
                <li> <a href="https://docs.google.com/document/d/1WEGFUk6pM5TeX_IAIXw9ogWnDSUqqmuJdGpFWzegAJ4/edit"> Terms and Translations </a> </li>
                <li> The descriptions are editable so that you can delete parts once you've worked on them. Changes made here are not saved (clicking "save to database" sends the original data). </li>
            </ul>
        </div>
    </div>
</body>
 
</html>