
<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Saved Data - PALP Workspace</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <h1> PALP Workspace - {{arc}}  </h1>
            <form action="/search" method="POST">
                <label>Working on: </label>
                <label for="region"> Region </label>
                <input name="region" id="region" type="number" min=1 max=9 style="width:2.5em;" value= {{ region }} >
                <label for="insula">, Insula </label>
                <input name="insula" id="insula" style="width:2.5em;" value= {{ insula }} >
                <label for="property">, Property</label>
                <input name="property" id="property" style="width:2.5em;" value= {{ property }} >
                <label for="room">, Room</label>
                <input name="room" id="room" style="width:2.5em;" value= {{ room }} >
                <input type="submit" class="btn btn-outline-primary btn-sm" value="Search">
            </form>
            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/PinP">Pompeii in Pictures</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/PPP">PPP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/PPM">PPM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#">Saved Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/descriptions">Descriptions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/GIS">GIS Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/help">Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Change ARC</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class='row'>
        <a href="/savedata" class="btn btn-outline-success">Save to Database: <br/> Create a new row in Final Data Google Sheet - only save once done with an ARC </a>
        </div>
        <div class="row">
        <h2> PinP Data </h2>
        </div>
        <div class="row">
          {% for row in pinpdata %}
            <div class="col-lg-3 col-md-4 col-6">
              <a href="https://app.box.com/file/{{row}}" target="_blank" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="static/images/{{row}}.jpg" alt="">
              </a>
            </div>
          {% endfor %}
        </div>
                <div class="row">
          <h2> PPP Data </h2>
          <table class="table table-bordered">
              <thead>
                  <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Italian</th>
                      <th scope="col">English</th>
                  </tr>
              </thead>
              <tbody>
                  {% for row in pppdata %}
                      <tr>
                          {% for col in row %}
                              <td>{{col}}</td>
                          {% endfor %}
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>
        <div class="row">
          <h2> PPM Data </h2>
          <table class="table table-bordered">
              <thead>
                  <tr>
                      <th scope="col">ID</th>
                      <th scope="col">Image</th>
                      <th scope="col">Italian</th>
                      <th scope="col">English</th>
                  </tr>
              </thead>
              <tbody>
                  {% for row in ppmdata %}
                      <tr>
                        <td>
                        {{row[0]}}
                      </td>
                      <td>
                        <a href="https://app.box.com/file/{{row[2]}}" target="_blank" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" src="static/images/{{row[2]}}.jpg" alt="">
                       </a>
                      </td>
                      <td>
                        {{row[1]}}
                      </td>
                      <td>
                        {{row[3]}}
                      </td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>
        </div>

</div>
    </div>
</body>
 
</html>