<!DOCTYPE html>
<html lang="en">

<head>
    <title>PPP - PALP Prequel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css">
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
    <script src="{{ url_for('static', filename='js/store.everything.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.resizableColumns.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap-table-master/src/extensions/resizable/bootstrap-table-resizable.js') }}"></script>
</head>

<body>

    <div class="container">
        <div class="header">
            <h1> PALP Prequel</h1>
            <p class="lead">Working on: Region {{ region }}, Insula {{ insula }}, Property {{ property }}, Room {{ room }}</p>
            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/PPM">PPM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/PinP">Pompeii in Pictures</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://arcg.is/ivHP0">GIS Map <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                          <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                      </svg></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/help">Help</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" target="_blank" href="https://forms.gle/Ryp1zyFgDffgsKKVA">Time reporting <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                      <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                  </svg></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/">Change Location</a>
            </li>
        </ul>
    </nav>
</div>
<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">PPP ID</th>
                <th scope="col">Location</th>
                <th scope="col">Material</th>
                <th scope="col">Description (Italian)</th>
                <th scope="col">Condition</th>
                <th scope="col">Style</th>
                <th scope="col">Bibliography</th>
                <th scope="col">Negative No.</th>
                <th scope="col">Edit</th>
            </tr>
        </thead>
        <tbody>
            {% for row in dbdata %}
            <tr>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                <td>{{row[6]}}</td>
                <td>{{row[7]}}</td>
                <td>{{row[8]}}</td>
                <td> 
                    <button type="button" class="btn btn-outline-secondary" id="button1_{{row[0]}}">Edit</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<!-- Modal -->
{% for row in dbdata %}
<div class="modal fade" id="editModalbutton1_{{row[0]}}" tabindex="-1" role="dialog" aria-labelledby="editModal" aria-hidden="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModal">r{{ region }}-i{{ insula }}-p{{ property }}-space-{{ room }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <form id="inputform" action="/update-ppp" method="POST">
  <div class="modal-body">
        <table class="table" id="addable-table">
            <tbody>
                <tr>
                    <td><p>PPP ID</p></td>
                    <td><input type="text" size="15" id="PPPID" name="PPPID" value="{{row[1]}}"></td>
                </tr>
                <tr>
                    <td><p>Location</p></td>
                    <td><input type="text" size="30" id="location" name="location" value="{{row[2]}}"></td>
                </tr>
                <tr>
                    <td><p>Material</p></td>
                    <td><input type="text" size="30" id="material" name="material" value="{{row[3]}}"></td>
                </tr>
                <tr>
                    <td><p>Description (Italian)</p></td>
                    <td><textarea id="description" name="description" cols="30">{{row[4]}}</textarea></td>
                </tr>
                <tr>
                    <td><p>Condition</p></td>
                    <td><input type="text" size="10" id="condition" name="condition" value="{{row[5]}}"></td>
                </tr>
                <tr>
                    <td><p>Style</p></td>
                    <td><input type="text" size="10" id="style" name="style" value="{{row[6]}}"></td>
                </tr>
                <tr>
                    <td><p>Bibliography</p></td>
                    <td><textarea id="bibliography" name="bibliography" cols="30">{{row[7]}}</textarea></td>
                </tr>
                <tr>
                    <td><p>Negative #</p></td>
                    <td><input type="text" size="12" id="negative" name="negative" value="{{row[8]}}"></td>
                </tr>
            </tbody>
        </table>
        <input type="hidden" name="uuid" id ="uuid" value="{{row[0]}}"></input>
</div>
<div class="modal-footer">
    <input type="submit" class="btn btn-success" value="Save">
</div>
</form>
</div>
</div>
</div>
{% endfor %}
</div>
<script type="text/javascript">
    $('[id^="button1_"]').on('click', function() {
        var newid = '#editModal' + $(this).attr('id');
        $(newid).modal("show");
    });
    $(document).ready(function() {
      if(window.location.href.indexOf('#editModal') != -1) {
        $('#editModal').modal('show');
    }
});

    function addElement(){
        var id = 'new' + Math.random().toString().substr(2, 9);
        var table = document.getElementById("addable-table");
        var row = table.insertRow(-1);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        var cell5 = row.insertCell(4);
        var cell6 = row.insertCell(5);
        var cell7 = row.insertCell(6);
        var cell8 = row.insertCell(7);
        cell1.innerHTML = '<td><textarea id="' + id + '_a" class="form-control" name="' + id + '_a">{{region}}{{insula}}{{property}}{{room}}</textarea></td>';
        cell2.innerHTML = '<td><textarea id="' + id + '_b" class="form-control" name="' + id + '_b"></textarea></td>';
        cell3.innerHTML = '<td><textarea id="' + id + '_c" class="form-control" name="' + id + '_c"></textarea></td>';
        cell4.innerHTML = '<td><textarea id="' + id + '_d" class="form-control" name="' + id + '_d"></textarea></td>';
    }
</script>
</body>

</html>