<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>PPP - PALP Workspace</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <p class="lead"> PALP Workspace - {{arc}}. Working on: Region {{ region }}, Insula {{ insula }}, Property {{ property }}, Room {{ room }}</p>
            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/ARCs">Choose ARC</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/PPP">PPP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/associated">PPM and PinP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/descriptions">Description Sheet</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://arcg.is/ivHP0">GIS Map <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-box-arrow-up-right" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
  <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
</svg></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/help">Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Change location</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="row" style="margin-top: 1em;">
            <div class="col" id="data-table">
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Location</th>
                                <th scope="col">Location Text</th>
                                <th scope="col">Material</th>
                                <th scope="col">Italian</th>
                                <th scope="col">English</th>
                                <th scope="col">Related ARC(s)</th>
                                <th scope="col">Select</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in dbdata %}
                                <tr>
                                        <td>{{row[2][0:1]}} {{row[2][1:3]}} {{row[2][3:5]}} {{row[2][5:7]}} {{row[2][7:]}}</td>
                                        <td>{{row[3]}}</td>
                                        <td>{{row[4]}}</td>
                                        <td>{{row[1]}}</td>
                                        <td>{{row[5]}}</td>
                                        <td>{{row[6]}}</td>
                                    <td> 
                                        <form>
                                            <input type="checkbox" class="form-control" name="{{row[0]}}" id="{{row[0]}}" >
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <p> Do all of the Italian descriptions look good? <br/>
                        <a href="/ppp-reviewed?data={{indices}}" class="btn btn-outline-success">Yes, mark as reviewed </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-outline-danger" id="edit">No, open editing </button>
                        <br/><br/>
                        <button class="btn btn-outline-primary" id="copy">Copy selected English descriptions </button>
                    </p>
                </div>
                <div class="row">
                    <p><strong> Copied data: </strong></p><br/>
                    <div id="catextppp" class="textarea-noedit" name="catextppp">{{ catextppp }} </div>
                </div>
            </div>

        </div>
    </div>
    <script type="text/javascript">
        $("#edit").click(function(){
            $("#data-table").replaceWith(function(){
                return '<div class="col" id="data-edit-table">'
                + '<form action="/update-ppp" method="POST">'
                + '<table class="table table-bordered" id="addable-table" ><thead><tr>'
                + '<th scope="col">Location ID<!--<br/><span style="color:red;">DO NOT EDIT <br/>unless absolutely necessary</span>--></th>'
                + '<th scope="col">Location details</th>'
                + '<th scope="col">Material</th>'
                + '<th scope="col" width="50%">Italian</th></tr></thead>'
                + '<tbody>{% for row in dbdata %}'
                + '<td><!--<textarea id="{{row[0]}}_a" class="form-control" name="{{row[0]}}_a"> </textarea>-->{{row[2]}}</td>'
                + '<td><textarea id="{{row[0]}}_b" class="form-control" name="{{row[0]}}_b">{{row[3] | replace("\n", " ") | replace("\r", " ")}}</textarea></td>'
                + '<td><textarea id="{{row[0]}}_c" class="form-control" name="{{row[0]}}_c">{{row[4] | replace("\n", " ") | replace("\r", " ")}}</textarea></td>'
                + '<td><textarea id="{{row[0]}}_d" class="form-control" name="{{row[0]}}_d">{{row[1] | replace("\n", " ") | replace("\r", " ")}}</textarea></td>'
                + '</tr>{% endfor %}'
                + '<tr><td colspan=4><button class="btn btn-outline-primary" onclick="addElement();" type="button">Add new entry </button></td></tr>'
                + '</tbody></table>'
                + '<input type="submit" class="btn btn-outline-success" value="Submit changes"></form></div>';
            });
        });
        $("#copy").click(function(){
            var i = [];
            $('input[type=checkbox]').each(function () {
               if (this.checked) {
                   i.push('"' + this.id + '"');
               }
            });
            window.location = "/carryover-button?catextppp=" + i;
        });
        function addElement(){
            var id = 'new' + Math.random().toString().substr(2, 9);
            console.log(id);
            var table = document.getElementById("addable-table");
            var row = table.insertRow(-1);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            var cell3 = row.insertCell(2);
            var cell4 = row.insertCell(3);
            cell1.innerHTML = '<td><textarea id="' + id + '_a" class="form-control" name="' + id + '_a">{{region}}{{insula}}{{property}}{{room}}</textarea></td>';
            cell2.innerHTML = '<td><textarea id="' + id + '_b" class="form-control" name="' + id + '_b"></textarea></td>';
            cell3.innerHTML = '<td><textarea id="' + id + '_c" class="form-control" name="' + id + '_c"></textarea></td>';
            cell4.innerHTML = '<td><textarea id="' + id + '_d" class="form-control" name="' + id + '_d"></textarea></td>';
        }
    </script>
</body>
 
</html>