<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>PPP - PALP Workspace</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <h1> PALP Workspace </h1>
            <form action="/search" method="POST">
                <label>Working on: </label>
                <label for="region"> Region </label>
                <input name="region" id="region" type="number" min=1 max=9 style="width:2.5em;" value= {{ region }} >
                <label for="insula">, Insula </label>
                <input name="insula" id="insula" style="width:2.5em;" value= {{ insula }}>
                <label for="property">, Property</label>
                <input name="property" id="property" style="width:2.5em;" value= {{ property }} >
                <label for="room">, Room</label>
                <input name="room" id="room" style="width:2.5em;" value= {{ room }} >
                <input type="submit" class="btn btn-outline-primary btn-sm" value="Search">
            </form>
            <nav>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a class="nav-link active" href="#">PPP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/PPM">PPM</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/PinP">Pompeii in Pictures</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/data">Saved Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/descriptions">Descriptions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/GIS">GIS Map</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/help">Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Change ARC</a>
                    </li>
                </ul>
            </nav>
        </div>
        {% if session['logged_in'] %}
        <div class="row" style="margin-top: 1em;">
            <div class="col-4">
                <iframe src="{{iframeurl}}" height="500" frameborder="0" allowfullscreen webkitallowfullscreen msallowfullscreen></iframe>
            </div>
            <div class="col" id="data-table">
                <div class="row">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Italian</th>
                                <th scope="col">English</th>
                                <th scope="col">Select</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for row in dbdata %}
                                <tr>
                                    {% for col in row %}
                                        <td>{{col}}</td>
                                    {% endfor %}
                                    <td> 
                                        <form>
                                            <input type="checkbox" class="form-control" name="{{row[0]}}" id="{{row[0]}}" >
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <p> Do all of the Italian descriptions look good? <br/>
                        <a href="/ppp-reviewed?data={{indices}}" class="btn btn-outline-success">Yes, mark as reviewed </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-outline-danger" id="edit">No, open editing </button>
                        <br/><br/>
                        <button class="btn btn-outline-primary" id="copy">Copy selected English descriptions </button>
                        <br/> Note: only descriptions that have been marked as reviewed will copy over.
                    </p>
                </div>
                <div class="row">
                    <p><strong> Copied data: </strong></p><br/>
                    <div id="catextppp" class="textarea-noedit" name="catextppp">{{ catextppp }} </div>
                </div>
            </div>

        </div>
        {% else %}
        <div class="row">
            <p style="color:red; font-size: 1.875em;">Sorry, this page is only accessible by logging in. </p>
        </div>
        <div class="row">
            <form action="/login" method="POST">
                <label for="username"> Username </label>
                <input class="form-control" name="username" id="username" required>
                <br/>
                <label for="password"> Password </label>
                <input class="form-control" name="password" id="password" required>
                <br/>
                <input type="submit" class="btn btn-primary" value="Log in">
            </form>
        </div>
        {% endif %}
    </div>
    <script type="text/javascript">
        $("#edit").click(function(){
            $("#data-table").replaceWith(function(){
                return '<div class="col" id="data-edit-table"><form action="/update-ppp" method="POST"><table class="table table-bordered" ><thead><tr><th scope="col">ID</th><th scope="col">Italian</th></tr></thead><tbody>{% for row in dbdata %}<tr><td>{{row[0]}}</td><td><textarea id="{{row[0]}}" class="form-control" name="{{row[0]}}">{{row[1]}}</textarea></td></tr>{% endfor %}</tbody></table><input type="submit" class="btn btn-outline-success" value="Submit changes"></form></div>';
            });
        });
        $("#copy").click(function(){
            var i = [];
            $('input[type=checkbox]').each(function () {
               if (this.checked) {
                   i.push('"' + this.id + '"');
               }
            });
            window.location = "/carryover-button?catextppp=" + i;
        });
    </script>
</body>
 
</html>